*{
			padding: 0px;
			margin: 0px;
      font-family: 'Poppins', sans-serif;
      /* outline: none; */
  }
 	.header__navbar {
    width: 100%; 
    height: 80px;
    }
   .header__navbar__logo {
      width: 50px;
    height: 50px;
    margin-left:100px;
    margin-top: 15px;   
   }
#wrapper{
  text-align: center;
}
.form-div{
  display: inline-block;
}
a{
  text-decoration: none;
}
.nav-container_ul>li{
 list-style-type: none;
 display: inline;
 
 padding-left: 20px;
position: relative;
}

nav{
  display: flex;
  
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 100px;
}


.nav-container_ul,.dropdown{
  flex-wrap: wrap;

}

.dropdown{
  padding: 20px;
  max-width: auto;
  transition-duration: 0.6s;
}
.navbar{
  color: #0A1118;
  font-weight: bold;
  flex-grow: 1;
  font-size: 14px; 
  transition-duration: 0.6s;
  
  
}
.navbar:hover,.navbar:focus-within

{
  color:green; 
  transform-origin: left top;
  outline: none;
}

.dropdown>li:hover{
  color:green; 
  transform-origin: left top;
  padding-left: 5px;
}



ul li ul {

  background-color: rgba(240, 235, 236, 0.384);
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.384);
  color: #0A1118;
  font-weight: bold;
  font-size: 14px;

  list-style-type: none;
  visibility: hidden;
opacity: 0;
min-width: 5rem;
padding-left: 20px;
padding-right: 20px;
  position: absolute;
transition: all 0.5s ease;
left: 0;

}
ul li ul li{
  padding-top: 10px;

}
ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
 visibility: visible;
 opacity: 1;
 /* overflow: visible; */
 display: block;
 z-index: 1;
}

ul li ul li {
  clear: both;
width: 100%;
}
.nav-container_div 
{
  /* padding-left: 150px; */
  margin-left: auto;
  padding-right: 20px;

  
}


   


.header__navbar__btn{
	background-color: #C8122E;
	color: white;
	padding: 10px;
  font-size: 12px;
  cursor: pointer;
	margin-right:20px;
	border:none;
}
.header__navbar__btn:hover,.header__navbar__btn:focus{
  background-color: green;

}
.bannerContainer{
  position: relative;
  margin-top: 0px;
}

.bannerContainer__mainImage{
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}


.transparentContainer
{
  
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
 
}
.secondContainer__btn:hover,.secondContainer__btn:focus{
  opacity:0.4;
}
.transparentContainer__image{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.transparentContainer__text{
  position: absolute;
  top:30%;
  left:10%;
}
.transparentContainer__text p{
  color: #808080;
  font-size: 16px;
  margin-top: 20px;
  width: 80%;

}
 .transparentContainer__text h2{
  width: 70%;
  padding:3px;
  font-size: 50px;
}
p{
  color: #808080; 
  margin-top: 5px;
}
   
   


    .secondContainer{
    	display: flex;
    	padding: 7%;
    	
    }
    .secondContainer__left{
    	display: inline-block;
    	width: 50%;
    }
    .secondContainer__right{
    	display:inline-block;
    	width: 50%;
    }
    .secondContainer__right h1{
      width:60%;
    }
    .secondContainer__btn{
    	color:white;
    	background-color: #000000;
    	padding: 10px;
      margin-top: 50px;
      cursor: pointer;
    	border: none;
    	
    }
    .secondContainer__left__Image{
      margin-left: 3%;
    }
    h3{
    	padding-right:30px;
    	padding-bottom: 40px;
    }
  


    .thirdContainer{
      display: flex;
      padding: 7%;
      background-color:  #F4F4F4;
    }
    .thirdContainer__left{
    	display: inline-block;
    	width: 50%;
    }
     .thirdContainer__right{
    	display: inline-block;
    	width: 50%;
    }
    .thirdContainer__right h1{
      width: 60%;
    }
    .thirdContainer__left__top{
    	width: 50%;
      padding:30px; 
      cursor: pointer;
    	background-color: #ffffff;
      border-radius: 5px;
      margin-top:20px;
    	margin-left:20px;
    }
    .thirdContainer__left__top:hover,.thirdContainer__left__top:focus{
      opacity:0.4;
    }
    .thirdContainer__left__middle:hover,.thirdContainer__left__middle:focus{
      opacity:0.4;
    }
    .thirdContainer__left__bottom:hover,.thirdContainer__left__bottom:focus{
      opacity:0.4;
    }
    .thirdContainer__left__middle{
    	width: 50%;
      padding:30px; 
      cursor: pointer;
      margin-top:20px;
    	color: #ffffff;
    	background-color:  #EDAB5E;
     	border-radius: 5px;
    	margin-left:20px;
    }
    .thirdContainer__left__bottom{
    	width: 50%;
      padding:30px; 
      cursor: pointer;
      margin-top:20px;
    	background-color: #ffffff;
      border-radius: 5px;
      margin-left: 20px;
    }
   
   .thirdContainer__left__text{
    color: #808080; 
    font-size: 12px;
  }




   .fourthContainer{
   	display: flex;
    margin-right: 0px;
  }
 
  .fourthContainer__right{
    width: 50%;
  
  }
  .fourthContainer__left{
  	background-color: #000000;
  	color: #ffffff;
    width: 50%;
     
    }
.fourthContainer__left__subcontent{
  margin-top: 20px;
  margin-left:30px;
}
    .fourthContainer__left__div{
     padding: 15%;
       
      }

    .fourthContainer__left h2{
    
      font-size: 250%;
    }
  
  .fourthContainer__right__image{
    object-fit: cover;
  	height: 100%;
  	width: 100%;
  }

  .fourthContainer__left ol {
   
    list-style-type: none;
    list-style-image: url("task(1)/Files/tick-mark-icon.svg");
  }

  footer{
  	display: flex;
  	padding: 30px;
  	}
  
  .footerLogo{
   width:20%;
   color: #A9A9A9;
   font-size: 12px;
  }
  .footerContact{
  	margin-top: 10px;
   width:40%;
    color: #A9A9A9;
     font-size: 12px;
  }
  .footerSocial{
     color: #A9A9A9;
  	margin-top: 10px;
  	 width:40%;
  	  font-size: 12px;
      float: right;
      
  }
  .footerLogo ul li{
    display: inline;
    color: #A9A9A9;
  	margin-left: 10px;
  }
  .footerContact ul li{
    display: inline;
    color: #A9A9A9;
    margin-left: 30px;
    cursor: pointer;
  }
  .footerContact ul li a:hover,.footerContact ul li a:focus{
    color: green;
  }
  .footerContact ul li a{
    text-decoration: none;
    color: #A9A9A9;
  }
  .footerSocial ul li{
    color: #A9A9A9;
  	display: inline;
  	margin-left: 30px;
    vertical-align: middle;
    cursor: pointer;
    /* float: right; */
   
  }
 
  .footerSocial ul li a{
    text-decoration: none;
  }
  .footerSocial ul li a:hover,.footerSocial ul li a:focus{
    opacity: 0.4;
  }
  .footerLogo__image{
    vertical-align: middle;
    width: 30px;
    height: 30px;
  }
  .footerLogo span{
  	margin-bottom: 5px;
  }
 


.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  background:#fff;
  padding:40px;
  box-sizing: border-box;
  
  box-shadow:0 5px 10px rgba(0, 0, 0, 0.5);
  border:1px solid rgba(0, 0, 0, 0.1)
}
.box-box{
display: flex;
}
.box h2{
  margin:0 0 40px;
  padding:0;
  color: blue;
}
.box input{
  padding: 0 10px;
  margin-bottom: 30px;
 
  box-sizing: border-box;
  box-shadow: none;
  border: none;
  outline: none;
  border-bottom:2px solid #999;

}

.box input[type="submit"]
{
  border-bottom:none;
  cursor: pointer;
  background:#f7497d;
  color:#fff;
  padding: 15px;
  margin-bottom: 0;
  text-transform: uppercase;

}
.submit-btn{
  margin-left:40%;
}

.box form div{
  position: relative;
}
.container{
  display: flex;
}
.box form div label{
position: absolute;
top:0px;
left:0px;
color: #999;
transition: .5s;
}

.box input:focus ~ label,.box input:valid ~ label,.box input:hover ~ label,.box input:valid ~ label{
  top:-12px;
  left:0;
  color:#f7497d;
  font-size: 10px;
  font-weight: bold;
}
.box input:focus{
  font-size: 15px;
  padding: 5px;
  border: 1px solid #f7497d;
}
/*
input:hover,input:focus{
  margin-top:20px;
  padding: 5px;
  font-size: 15px;
  border:1px solid black;

}
input:hover label,input:hover label{
  /* border:1px solid red; */
  /* font-size: 3px;
}
.box-sub{
  width: 50%;
 
}

/* .thanks-main{
  position: absolute;
  left:20%;
  top:20%;
} */
.select-option{
  width:100%;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  } 